<h2><%= @restaurant.name %></h2>
<h2><%= @restaurant.address %></h2>
<h2><%= @restaurant.phone_number %></h2>
<h2><%= @restaurant.category %></h2>

<%= link_to "Edit", edit_restaurant_path %>
<%= link_to "Back", restaurants_path %>
<%= link_to "Make a review", new_restaurant_review_path %>
<%# <%= link_to "Remove a review", review_path(review), method :delete, data: {confirm: "Are you sure?"} %>
